

<div class="whole-container">
  <div class="form-container">
    <mat-card style="margin: 10px;">
      <mat-card-header>
        <mat-card-title>
          Konfiguration
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form *ngIf="!isLoading" [formGroup]="namesFG" autocomplete="off">
          <mat-divider style="padding-bottom: 10px;"></mat-divider>
          <div formArrayName="candidates">
            <div class="names-row" style="padding-top: 10px;" *ngFor="let candidate of candidates; let i = index" [formGroupName]="i">
              <mat-form-field class="name-col">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text" (change)="nameChanged($event, i)">
              </mat-form-field>
              <mat-form-field class="partner-col">
                <mat-label>Partner</mat-label>
                <mat-select formControlName="partner" (selectionChange)="partnerChanged($event, i)">
                  <mat-option>{{''}}</mat-option>
                  <ng-container *ngFor="let partnerCandidate of candidates">
                    <mat-option  [value]="partnerCandidate.name" *ngIf="partnerCandidate.name !== namesFG.controls['candidates'].value[i].name && partnerCandidate.name">
                      {{partnerCandidate.name}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <div class="delete-col">
                <span (click)="deleteSelf(candidate, i)" >
                  <mat-icon class="clickable-icon" color="accent">delete</mat-icon>
                </span>
              </div>
            </div>
          </div>
          <div class="names-row">
            <div class="add-col">
              <button [disabled]="!namesFG.valid" (click)="addName()" mat-raised-button color="accent">
                <mat-icon aria-hidden="true">
                  add_circle_outline
                </mat-icon>
                Add
              </button>
            </div>
            <div class="checkbox-col">
              <mat-checkbox formControlName="allowDuplicates" (change)="onDuplicatesChange($event)">Gegenseitiges ziehen erlauben</mat-checkbox>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button [disabled]="!namesFG.valid" (click)="draw()" mat-raised-button color="primary">
          <mat-icon aria-hidden="true">
            shuffle
          </mat-icon>
          Ziehen
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="results-container">
    <div style="display: flex; justify-content: center; width: 100%;" *ngIf="isDrawing">
      <mat-progress-spinner [mode]="'indeterminate'" style="align-self: center;"> </mat-progress-spinner>
    </div>
    
    <mat-card style="margin: 10px;" *ngIf="drawnCombinationSet !== null">
      <mat-card-header>
        <mat-card-title>
          Ergebnis
          <mat-card-subtitle>
              Gezogen aus {{ allPossibleCombinationSets.length }} möglichen Ergebnissen
          </mat-card-subtitle>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider style="padding-bottom: 10px !important;"></mat-divider>
        <div class="results-content">
          <div class="result-container" *ngFor="let combination of drawnCombinationSet.combinations; let i = index">
            <span class="result-title">
              Ergebnis für: {{ combination.srcCandidate.name }}
            </span>
            <div class="result-content">
              <span class="result-content-text" *ngIf="combination.show">{{ combination.destCandidate.name }}</span>
              <span class="result-content-text" *ngIf="!combination.show">***********</span>
              <button mat-icon-button color="accent" (mousedown)="showResultFor(combination)" (mouseup)="hideResultFor(combination)"
                (touchstart)="showResultFor(combination)" (touchend)="hideResultFor(combination)">
                <mat-icon aria-hidden="true">
                  remove_red_eye
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

